img {
    width: 100%;
}

hr {
    height: 1px;
    width: 90%;
    margin: auto;
    border: 0;
    background-color: rgba(255, 255, 255, 0.03);
}

.route-container {
    display: grid;
    grid-template-columns: 20% 75% 5%;
    margin: 15px 0;
    padding: 10px;
}

.route-container:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.details {
    padding-left: 10px;
}

.details h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.details p.description,
.details p.created-by {
    padding: 0;
    margin: 0;
}

.details p.created-by {
    font-size: 9pt;
    color: rgba(255, 255, 255, 0.5);
}

.details p.description {
    font-size: 11pt;
    color: rgba(255, 255, 255, 0.85);
    margin: 10px 0;
}