<div class="login-container">
    <div class="content">
        <h1>Register</h1>
        <p>In order to use all features, please log in or register.</p>
        <form [formGroup]="registerForm">
            <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>

            <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>

            <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Password" formControlName="password" type="password" required>
            </mat-form-field>

            <button (click)="register()" class="gradient-button">Register</button>
            <button (click)="navigateToLogin()" class="regular-button">Login</button>
        </form>
    </div>
</div>