/*
#61892F
#86C232
#222629
#474B4F
#6B6E70
*/

fa-icon {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #797979;
    font-weight: bold;
}

.nav-active {
    color: white !important;
}

nav ul li a:hover {
    color: white;
}

.navigation-bar-container {
    height: 50px;
    background-color: #222629;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}


/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222629;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding-left: 20px !important;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}