<div class="navigation-bar-container">
    <nav class="left-nav">
        <ul>
            <li><a routerLink="/routes" routerLinkActive="nav-active">Explore</a></li>
            <li *ngIf="isUserLoggedIn"><a routerLink="/route/add" routerLinkActive="nav-active">Add route</a></li>
        </ul>
    </nav>
    <nav class="right-nav">
        <ul>
            <li *ngIf="!isUserLoggedIn"><a routerLink="/login" routerLinkActive="nav-active">Login</a></li>
            <li *ngIf="isUserLoggedIn">

                <div class="dropdown">
                    <a class="dropbtn" routerLink="/profile/{{username}}" routerLinkActive="nav-active">
                        <fa-icon [icon]="userIcon"></fa-icon> {{username}}
                    </a>
                    <div class="dropdown-content">
                        <a routerLink="/profile/{{username}}">My profile</a>
                        <a (click)="logout()" routerLink="/login">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>