<div id='map'></div>
<div class="new-route-form">
    <form [formGroup]="routeForm">
        <div class="form-full-row">
            <label>Route name</label>
            <mat-form-field appearance="fill">
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="form-full-row">
            <label>Route description</label>
            <div class="text-area">
                <mat-form-field appearance="fill">
                    <textarea rows="5" matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="form-row">
        <div class="label">
            <label>Route type</label>
        </div>
        <div class="toggles">
            <mat-button-toggle-group [(ngModel)]="routeType">
                <mat-button-toggle value="walking">
                    <mat-icon> directions_walk</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="cycling">
                    <mat-icon> directions_bike</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="driving">
                    <mat-icon> directions_car</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="form-full-row">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button class="regular-button" type="button" (click)="fileInput.click()">Select Route Image</button>
        <div class="image-preview" *ngIf="routeImageUrl">
            <img [src]="routeImageUrl">
        </div>
    </div>
    <hr />
    <div class="flex-center">
        <button class="gradient-border" (click)="saveRoute()">Save</button>
    </div>
</div>