header {
    height: calc(100vh - 55px);
    width: 100vw;
    overflow: hidden;
    background: #222629;
    background: -webkit-linear-gradient(#222619, #00fa2a25), url("./../../../assets/images/jumotron-image.jpg");
    background: linear-gradient(#222619, #00fa2a25), url("./../../../assets/images/jumotron-image.jpg");
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

h1 {
    color: white;
    font-size: 75pt;
}

.gradient-button {
    display: block;
    width: 50%;
    margin: 0 auto;
}
